#content {
	
	}

#banner_image {
    width:300px;
	height:230px
}

#subimage {
	width:90px;
}

#submenu {
    background-color:pink;
	height:100px
}
#paragraph{
text-indent : 2em;
text-align:justify;
}
#list_image{
	height:60px;	
	width:90px;
	padding-bottom:0;
}


